<% @version = @article.versions[0]%>
<% sections = ["The Most Important Thing about Poodles", "Colors Poodles Come In", "Good Names for Poodles", "Other Friendly Breeds"] %>


<div class="nav-bar">
  <h1>BigDawgWiki</h1>
  <button id="logout">Log Out</button>
  <button id="new">Create New Article</button>
  <input type="text" placeholder="Search">
</div>
<div class="container">
  <div id="sidebar">
    <h3>Contents</h3>
    <ol>
      <% sections.each do |section| %>
        <li><%= section %></li>
      <% end %>
    </ol>
  </div>
  <div id="show-article">
    <h1><%= @article.title %></h1>
    <h3>Written by <%= @article.orig_author.username %></h3>
    <% if @article.orig_author != @version.updating_author %>
    <h5>Edited by <%= @version.updating_author.username %></h5>
    <% end %>
    <h3>The Most Important Thing about Poodles</h3>
    <p>This is a paragraph illustrating the most important thing to know about poodles: Poodles are cool. Did you know that a poodle was the first dog on the moon?</p>
    <h3>Colors Poodles Come In</h3>
    <p>Brown, black, white, cream, and other.</p>
    <h3>Good Names for Poodles</h3>
    <p>Fluffy</p>
    <h3>Other Friendly Breeds</h3>
    <p>Golden retrievers, Labradors, and Shiatsus</p>
    <% if @version.footnotes %>
      <h5>Footnotes</h5>
      <p><%= @version.footnotes %></p>
    <% end %>
  </div>
</div>