<h1>Edit Version For <%= @version.article.title %></h1>

<p id="markdown-instructions">If you would like to create section titles for your article, begin the line with a pound symbol (#) and press enter to start a new line for the content of that section. To create a new paragraph, press enter. If you would like to make text <strong>bold</strong>, put an asterisk (*) before and after the text you would like to make bold. For <em>italics</em>, put an underscore (_) before and after the text you wish to italicize. For example:
  <ul>
    <li>#This Text Would Display as a Section Title</li>
    <li>The word *bold* will appear in bold text</li>
    <li>This is how we make _italics_ appear in our text</li>
  </ul>
</p>

  <%= form_for :version, url: version_path(@version.article,@version) do |f| %>
  <%= f.label :content %>
  <%= f.text_field :content%>
  <%= f.label :footnotes %>
  <%= f.text_field :footnotes%>
  <%= f.submit %>
<% end %>
<form action="/articles/<%= @version.article.to_param %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Article">
</form>
<p>Caution: Once you delete an article, it will be permanently removed from the website.</p>

<% if @version.is_published == false %>
  <a href="/articles/<%= @version.article.to_param %>/versions/<%= @version.id %> >/publish">Publish Article</a>
  <p>Caution: Once you publish an article, the current version can no longer be edited.</p>
<% end %>
