

<% if @version%>
	<h1>New Version For <%= @version.article.title %></h1>
	<div id='current-version-preview-container'>	
	<!-- this should be made a partial -->
		<div class="row">
	  <div class="col s6 offset-s4">
	  <h4>Written by <%= @version.article.orig_author.username %></h4>
	    <% if @version.article.orig_author != @version.updating_author %>
	    <h5>Edited by <%= @version.updating_author.username %></h5>
	    <% end %>
	  </div>

	  <% if @sections.length > 0 %>
	    <div class="col s3">
	      <h4>Contents</h4>
	      <ul>
	        <% section_num = 0 %>
	        <% @sections.each do |section| %>
	          <li><a class="purple-text" href="#<%= section_num %>"><%= section %></a></li>
	          <% section_num += 1 %>
	        <% end %>
	      </ul>
	    </div>
		<% end %>

		<div class="row">
		  <div class="col s6 offset-s3">
		  </div>
		</div>

		<div class="row">
		  <div class="col s6 offset-s3">
		    <% if @version.footnotes == nil || @version.footnotes == '' %>
		    <p id="footnote-warning">Warning: The article you are viewing does not have any footnote citations. The content may not be accurate</p>
		    <% end %>
		  </div>
		</div>

		<div class="divider"></div>
		<div class="section">
		  <%= @markdown_content.html_safe %>
		</div>

		<% if @version.footnotes %>
		  <div class="divider"></div>
		  <div class="section">

		    <h5>Footnotes</h5>
		    <p><%= @version.footnotes %></p>
		  </div>
		<% end %>

	</div>
<% end %>



<form id="create-entry-form" action="/articles/<%= @version.article.to_param %>" method="POST">

	<input name="authenticity_token" type="hidden" value="token_value">


  <textarea name="version[content]" row="20" cols="50" placeholder="Enter Content"></textarea> <br />
  <input type="text" name="version[footnotes]" placeholder="Enter Footnotes"> <br />
  <input type="text" name="categories" placeholder="Categories (separate by commas)"> <br />
  <input type="submit" value="Submit">
</form>

