<div class="row">
  <h1 class="white-text" ><%= @version.article.title %></h1>
</div>
<div class="row">
  <div class="col s6 offset-s4">
  <h4 class="white-text">Written by <%= @version.article.orig_author.username %></h4>
    <% if @version.article.orig_author != @version.updating_author %>
    <h5 class="white-text">Edited by <%= @version.updating_author.username %></h5>
    <% end %>
  </div>

  <div class="col s3">
    <h4>Contents</h4>
    <ul>
      <% section_num = 0 %>
      <% @sections.each do |section| %>
        <li><a class="purple-text" href="#<%= section_num %>"><%= section %></a></li>
        <% section_num += 1 %>
      <% end %>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col s6 offset-s3">
    <% if current_user == @version.article.orig_author || current_user.permission_level == "big_dawg" %>
      <%= link_to 'Edit / Delete', new_version_path %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col s6 offset-s3">
    <% if @version.footnotes == nil || @version.footnotes == '' %>
    <p id="footnote-warning">Warning: The article you are viewing does not have any footnote citations. The content may not be accurate</p>
    <% end %>
  </div>
</div>

<div class="divider"></div>
<div class="section">
  <%= @markdown_content.html_safe %>
</div>

  <% if @version.footnotes %>
    <div class="divider"></div>
    <div class="section">


      <h5>Footnotes</h5>
      <p><%= @version.footnotes %></p>
    </div>
  <% end %>


  <% if @version.article.versions.length > 1 %>
  <div class="divider"></div>
  <div class="section">
    <h5>See All Versions of This Article</h5>
    <ul>
      <% @version.article.versions.each do |version| %>
        <li><a class="purple-text" href="articles/<%= version.article.to_param %>/version/<%= version.id %>">version id: <%= version.id %> (updated by <%= version.updating_author.username %>)</a></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>

<p></p>
<a href="/articles/<%= @version.article.to_param %>/new_version" >Make a new version of this article.</a>

<% if @version.is_published == false || current_user.permission_level == 'big_dawg' %>
  <a href="/articles/<%= @version.article.to_param %>/versions/<%= @version.id %>/edit">Edit / Publish Article </a>
<% end %>
