<!DOCTYPE html>
<html>
<head>
  <title>BigDawgWiki</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <!-- Compiled and minified CSS -->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<main>
  <%= render "shared/nav" %>

  <div class="container">
	  <div class="card-panel brown lighten-5 large z-depth-1">
		  <%= yield %>
	  </div>
  </div>

  <%= render "shared/footer" %>

</main>
</html>
