<!DOCTYPE html>
<html>
<head>
  <title>BigDawgWiki</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <!-- Compiled and minified CSS -->
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">

  <%= javascript_include_tag 'application' %>
  <!-- Compiled and minified JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<main>
  <%= render "shared/nav" %>

  <div class="container">
	  <%= yield %>
  </div>

  <%= render "shared/footer" %>

</main>
</html>
